@use 'fonts';

.section__footer {
    background-color: #333333;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer__content {
    max-width: 17%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.footer--logo {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 3.36px;
    text-transform: uppercase;
}

.footer--text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
}

.footer__links {
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer__links a:hover {
    color: #5474FD;
}