@use 'fonts';

/*header section*/
.section__header {
    background-image: url(../images/bg-img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.header__content {
    max-width: 50%;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}

.header--text {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.82px;
}

form {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-self: center;
}

input {
    flex-grow: 2;
    border: none;
}

input:hover {
    background-color: #ecebeb;
}

::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    text-align: center;
    color: #999999;
}

.btn__search {
    padding: 0 4%;
    height: 4rem;
}

.scroll {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
}

/*nav section*/
.section__nav {
    background-color: #5474FD;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: center;
}

.header__nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.nav__logo {
    max-width: 10%;
}

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.fa-magnifying-glass {
    color: white;
    z-index: 1;
}

.nav-bar {
    max-width: 60%;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
}

.icon {
    display: none;
}

a {
    text-decoration: none;
    font-family: fonts.$secondfont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

li a:hover {
    color: darkblue;
}

